#headerWrapper {
  text-align: left;
  color: white;
  background-color: #0D47A1;
  padding: 20px;
}

body,
#taskDetails {
  text-align: center;
  background-color: #E3F2FD;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#heading {
  margin: 20px;
  padding: 20px;
}

#outputWrapper {
  display: inline-block;
  text-align: left;
  margin-top: 40px;
  width: 80%;
  max-width: 1100px;
}

#taskInput {
  width: 65%;
  max-width: 900px;
}

#submitButton {
  width: 15%;
  max-width: 200px;
}

#taskOutput {
  vertical-align: middle;
}
 
.deleteButtons {
  float: right;
}

.completeBoxes:checked {
  background-color: green!important;
}

.strikethrough {
  text-decoration: line-through;
}